<div appLoadFade class="container fade">
    <div class="container-head">
        <h1>{{titulo}}</h1>
    </div>
    <table>
        <tr>
            <th>Nombre</th>
            <th>CIF</th>
            <th></th>
        </tr>
        <tr *ngFor="let proveedor of proveedores">
            <td>{{proveedor.nombre}}</td>
            <td>{{proveedor.cif}}</td>
            <td>
                <button routerLink="/visualizar-proveedor/{{proveedor.id}}">Visualizar</button>
            </td>
        </tr>
    </table>
</div>