<div appLoadFade class="container fade">
    <div class="container-head">
        <h1>Detalle de Proveedor</h1>
        <button routerLink="/proveedores">Atrás</button>
    </div>
    <table>
        <tr>
            <th>Nombre</th>
            <td>{{proveedor.nombre}}</td>
        </tr>
        <tr>
            <th>CIF</th>
            <td>{{proveedor.cif}}</td>
        </tr>
        <tr>
            <th>Localidad</th>
            <td>{{proveedor.localidad}}</td>
        </tr>
    </table>
</div>